.header {
  border: 1px solid rgba(195, 212, 233, 0.4);
  background: var(--primary-0, #fff);
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.header h2 {
  color: var(--primary-500, #3563e9);
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.96px;
}
.header label {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  border-radius: 70px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  background: var(--primary-0, #fff);
  align-items: center;
  max-width: 492px;
  height: 44px;
  flex-shrink: 0;
}

.header label input {
  padding: 10px;
  color: var(--secondary-400, #596780);
  text-align: justify;
  outline: none;
  width: 200px;
  border: none;
  /* Medium/Type@14 */
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: -0.28px;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header ul li {
  border-radius: 90px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  opacity: 0.8;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modul-father {
  position: relative;
  z-index: 1;
}

.modul {
  /* z-index: 1100; */
  overflow-y: scroll;
  left: -130px;
  top: 40px;
  position: absolute;
  width: 304px;
  height: 588px;
  box-shadow: 0 0 5px #000;
  border-radius: 20px;
  /* background-color: rgb(223, 24, 24); */
}
.modul::-webkit-scrollbar {
  display: none;
}
.modul .cars-box {
  background-color: whitesmoke;
}

@media screen and (max-width: 700px) {
  .header label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
  }
  .header {
    position: relative;
    padding: 40px 0 80px 0;
  }
}
