.footer {
  padding: 80px 0 60px 0;
  background: var(--primary-0, #fff);
}
.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(19, 19, 19, 0.16);
}
.footer-top1 h2 {
  color: var(--primary-500, #3563e9);
  font-family: Plus Jakarta Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.96px;
}
.footer-top1 p {
  color: rgba(19, 19, 19, 0.6);
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
  margin-top: 16px;
}
.footer-top2 {
  display: flex;
  gap: 60px;
  padding-bottom: 36px;
}
.footer-top2 ul p {
  color: var(--secondary-500, #1a202c);

  /* Semibold/Type@20 */
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
}
.footer-top2 ul li {
  padding-top: 20px;
}
.footer-top2 ul li a {
  color: rgba(19, 19, 19, 0.6);
  /* margin-top: 20px; */
  /* Medium/Type@16 */
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}
.footer-bottom {
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom h4 {
  color: var(--secondary-500, #1a202c);
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}
.privace {
  display: flex;
  align-items: center;
  gap: 60px;
}
.privace {
  color: var(--secondary-500, #1a202c);
  text-align: right;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

@media screen and (max-width: 700px) {
  .footer-top2 {
    display: block;
    gap: 60px;
    justify-content: center;
    padding-bottom: 36px;
  }
}
